cffi
gevent
ndg-httpsclient
uwsgi>=2.0
werkzeug>=0.10.4,<0.11.0
static>=1.1.1,<1.2.0

# this points to the 'fix-empty-srcset' branch in hypothesis/pywb
# this is a fork of the upstream pywb (v0.11.0) with:
#
# - a fix to allow srcset attributes to be an empty string
#
# This should be replaced with the new pywb version once merged and released.
-e git://github.com/hypothesis/pywb.git@2d7602cd6d8a6dafe7353b16579dc757aaead6ed#egg=pywb
