/* Style input placeholders */
/* Shadow mixins */
/* line 161, ../../../../h/static/styles/base.scss */
.noise, .annotator-frame {
  background: url("../../../../../../assets/images/noise_1.png");
}

/* line 166, ../../../../h/static/styles/base.scss */
.annotator-notice {
  -webkit-box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  direction: ltr;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 29px;
  opacity: 0;
  position: relative;
  text-align: center;
  z-index: 5;
}
/* line 178, ../../../../h/static/styles/base.scss */
.annotator-notice.show, .annotator-notice.annotator-notice-show {
  opacity: 1;
}

/* line 183, ../../../../h/static/styles/base.scss */
.annotator-hide {
  display: none;
  visibility: hidden;
}

/* line 188, ../../../../h/static/styles/base.scss */
.annotator-notice-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #98BED1;
}

/* line 194, ../../../../h/static/styles/base.scss */
.annotator-notice-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #8DC98E;
}

/* line 200, ../../../../h/static/styles/base.scss */
.annotator-notice-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #F5A1A0;
}

/* line 10, ../../../../h/static/styles/inject.scss */
.annotator-adder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: ltr;
  height: 40px;
  margin-left: -20px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  border: 4px solid #777777;
  border-radius: 8px;
  width: 40px;
  z-index: 999;
}
/* line 25, ../../../../h/static/styles/inject.scss */
.annotator-adder:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fdfdfd;
  bottom: -8px;
  border-bottom: 4px solid #777777;
  border-right: 4px solid #777777;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}
/* line 42, ../../../../h/static/styles/inject.scss */
.annotator-adder button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 10%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 10%, #f0f0f0 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 10%, #f0f0f0 100%);
  -webkit-box-shadow: inset 0 0.2em 0 rgba(255, 255, 255, 0.2), 0 0.05em 0.1em rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 0.2em 0 rgba(255, 255, 255, 0.2), 0 0.05em 0.1em rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0.2em 0 rgba(255, 255, 255, 0.2), 0 0.05em 0.1em rgba(0, 0, 0, 0.08);
  color: #777777;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: .2em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding: .33em .5em;
  cursor: pointer;
  display: inline-block;
  padding: .4em .9em .5em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
  color: #585858;
  border-color: #969696 #969696 #777777;
  border-radius: .15em;
  font-family: h;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: white !important;
  color: #777777 !important;
}
/* line 93, ../../../../h/static/styles/base.scss */
.annotator-adder button:focus, .annotator-adder button.js-focus {
  outline: 0;
  border: 1px solid #777777;
  -webkit-box-shadow: inset 1px 1px 6px -1px lightgrey;
  -moz-box-shadow: inset 1px 1px 6px -1px lightgrey;
  box-shadow: inset 1px 1px 6px -1px lightgrey;
}
/* line 98, ../../../../h/static/styles/base.scss */
.annotator-adder button:disabled {
  background-color: #f9f9f9;
}
/* line 101, ../../../../h/static/styles/base.scss */
.annotator-adder button.ng-dirty.ng-invalid {
  border: 1px solid #e0b0b0;
}
/* line 123, ../../../../h/static/styles/base.scss */
.annotator-adder button:hover, .annotator-adder button:focus, .annotator-adder button:active, .annotator-adder button.js-focus, .annotator-adder button.js-hover, .annotator-adder button.js-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(50%, #f4f4f4), color-stop(51%, #e2e2e2), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  color: black;
}
/* line 127, ../../../../h/static/styles/base.scss */
.annotator-adder button:hover > a, .annotator-adder button:focus > a, .annotator-adder button:active > a, .annotator-adder button.js-focus > a, .annotator-adder button.js-hover > a, .annotator-adder button.js-active > a {
  opacity: 1;
  color: black;
}
/* line 133, ../../../../h/static/styles/base.scss */
.annotator-adder button:active:not([disabled]), .annotator-adder button.js-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(50%, #f3f3f3), color-stop(51%, #e1e1e1), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  background-image: -o-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  background-image: linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  -webkit-box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
  box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
  border-color: #969696 #969696 #777777;
  top: 1px;
}
/* line 143, ../../../../h/static/styles/base.scss */
.annotator-adder button:disabled {
  color: #969696;
  border-color: lightgrey;
  background: #f9f9f9;
  cursor: default;
}
/* line 56, ../../../../h/static/styles/inject.scss */
.annotator-adder button::-moz-focus-inner {
  border: 0;
}
/* line 60, ../../../../h/static/styles/inject.scss */
.annotator-adder button:hover {
  color: #585858 !important;
}
/* line 65, ../../../../h/static/styles/inject.scss */
.annotator-adder:hover {
  border-color: #585858;
}
/* line 68, ../../../../h/static/styles/inject.scss */
.annotator-adder:hover:before {
  border-color: #585858;
}

/* line 77, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-heatmap {
  cursor: ew-resize;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 40px;
  left: -40px;
}
/* line 87, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-heatmap-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  border-left: solid 1px lightgrey;
  height: 100%;
  left: 18px;
  width: 22px;
}

/* line 1, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: solid 1px lightgrey;
  border-radius: 2px 4px 4px 2px;
  right: 0;
  position: absolute;
  margin-top: -8px;
  line-height: 1;
  width: 26px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;
}
/* line 15, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer .label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: #585858;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  line-height: 14px;
  margin: 0 auto;
}
/* line 27, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer:before, .annotator-frame .heatmap-pointer:after {
  content: '';
  right: 100%;
  top: 50%;
  position: absolute;
  border: inset transparent;
  height: 0;
  width: 0;
}
/* line 39, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer:before {
  border-width: 8px;
  border-right: 5px solid lightgrey;
  margin-top: -8px;
}
/* line 45, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer:after {
  border-width: 7px;
  border-right: 4px solid white;
  margin-top: -7px;
}
/* line 52, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.lower:before, .annotator-frame .heatmap-pointer.lower:after, .annotator-frame .heatmap-pointer.upper:before, .annotator-frame .heatmap-pointer.upper:after {
  left: 50%;
  bottom: 100%;
  right: auto;
  border-right: solid transparent;
  margin-top: 0;
}
/* line 61, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.upper {
  border-radius: 2px 2px 4px 4px;
}
/* line 64, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.upper:before, .annotator-frame .heatmap-pointer.upper:after {
  top: auto;
  bottom: 100%;
}
/* line 69, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.upper:before {
  border-width: 13px;
  border-bottom: 6px solid lightgrey;
  margin-left: -13px;
}
/* line 75, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.upper:after {
  border-width: 12px;
  border-bottom: 5px solid white;
  margin-left: -12px;
}
/* line 82, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.lower {
  border-radius: 4px 4px 2px 2px;
}
/* line 85, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.lower:before, .annotator-frame .heatmap-pointer.lower:after {
  bottom: auto;
  top: 100%;
}
/* line 90, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.lower:before {
  border-width: 13px;
  border-top: 6px solid lightgrey;
  margin-left: -13px;
}
/* line 96, ../../../../h/static/styles/pointers.scss */
.annotator-frame .heatmap-pointer.lower:after {
  border-width: 12px;
  border-top: 5px solid white;
  margin-left: -12px;
}

/* line 103, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl,
.annotator-hl-active, .annotator-hl-temporary, .annotator-hl-focused {
  background: rgba(192, 236, 253, 0.5);
}
/* line 106, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl .annotator-hl,
.annotator-hl-active .annotator-hl, .annotator-hl-temporary .annotator-hl, .annotator-hl-focused .annotator-hl {
  background-color: rgba(181, 234, 255, 0.8);
}
/* line 110, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl .annotator-hl .annotator-hl,
.annotator-hl-active .annotator-hl .annotator-hl, .annotator-hl-temporary .annotator-hl .annotator-hl, .annotator-hl-focused .annotator-hl .annotator-hl {
  background-color: rgba(149, 224, 253, 0.8);
}
/* line 114, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl::-moz-selection,
.annotator-hl-active::-moz-selection, .annotator-hl-temporary::-moz-selection, .annotator-hl-focused::-moz-selection {
  background: rgba(192, 236, 253, 0.5);
}
/* line 117, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl::-moz-selection, .annotator-highlights-always-on .annotator-hl::-moz-window-inactive, .annotator-highlights-always-on .annotator-hl::window-inactive,
.annotator-hl-active::-moz-selection,
.annotator-hl-active::-moz-window-inactive,
.annotator-hl-active::window-inactive, .annotator-hl-temporary::-moz-selection, .annotator-hl-temporary::-moz-window-inactive, .annotator-hl-temporary::window-inactive, .annotator-hl-focused::-moz-selection, .annotator-hl-focused::-moz-window-inactive, .annotator-hl-focused::window-inactive {
  background: rgba(192, 236, 253, 0.5);
}
/* line 120, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl::selection, .annotator-highlights-always-on .annotator-hl::selection:window-inactive,
.annotator-hl-active::selection,
.annotator-hl-active::selection:window-inactive, .annotator-hl-temporary::selection, .annotator-hl-temporary::selection:window-inactive, .annotator-hl-focused::selection, .annotator-hl-focused::selection:window-inactive {
  background: rgba(192, 236, 253, 0.5);
}

/* line 125, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl {
  background: rgba(255, 255, 60, 0.3);
}
/* line 128, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl .annotator-hl {
  background-color: rgba(206, 206, 60, 0.4);
}
/* line 132, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl .annotator-hl .annotator-hl {
  background-color: rgba(192, 192, 49, 0.4);
}

/* line 138, ../../../../h/static/styles/inject.scss */
.annotator-highlights-always-on .annotator-hl-active,
.annotator-highlights-always-on .annotator-hl-focused {
  background-color: rgba(255, 255, 60, 0.7);
}

/* line 143, ../../../../h/static/styles/inject.scss */
.annotator-frame {
  /*
    Consistency fixes
    adopted from http://necolas.github.com/normalize.css/
    */
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  direction: ltr;
  background: none;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
/* line 17, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame html, .annotator-frame body, .annotator-frame div, .annotator-frame span, .annotator-frame applet, .annotator-frame object, .annotator-frame iframe,
.annotator-frame h1, .annotator-frame h2, .annotator-frame h3, .annotator-frame h4, .annotator-frame h5, .annotator-frame h6, .annotator-frame p, .annotator-frame blockquote, .annotator-frame pre,
.annotator-frame a, .annotator-frame abbr, .annotator-frame acronym, .annotator-frame address, .annotator-frame big, .annotator-frame cite, .annotator-frame code,
.annotator-frame del, .annotator-frame dfn, .annotator-frame em, .annotator-frame img, .annotator-frame ins, .annotator-frame kbd, .annotator-frame q, .annotator-frame s, .annotator-frame samp,
.annotator-frame small, .annotator-frame strike, .annotator-frame strong, .annotator-frame sub, .annotator-frame sup, .annotator-frame tt, .annotator-frame var,
.annotator-frame b, .annotator-frame u, .annotator-frame i, .annotator-frame center,
.annotator-frame dl, .annotator-frame dt, .annotator-frame dd, .annotator-frame ol, .annotator-frame ul, .annotator-frame li,
.annotator-frame fieldset, .annotator-frame form, .annotator-frame label, .annotator-frame legend,
.annotator-frame table, .annotator-frame caption, .annotator-frame tbody, .annotator-frame tfoot, .annotator-frame thead, .annotator-frame tr, .annotator-frame th, .annotator-frame td,
.annotator-frame article, .annotator-frame aside, .annotator-frame canvas, .annotator-frame details, .annotator-frame embed,
.annotator-frame figure, .annotator-frame figcaption, .annotator-frame footer, .annotator-frame header, .annotator-frame hgroup,
.annotator-frame menu, .annotator-frame nav, .annotator-frame output, .annotator-frame ruby, .annotator-frame section, .annotator-frame summary,
.annotator-frame time, .annotator-frame mark, .annotator-frame audio, .annotator-frame video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame html {
  line-height: 1;
}
/* line 24, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame ol, .annotator-frame ul {
  list-style: none;
}
/* line 26, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame caption, .annotator-frame th, .annotator-frame td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame q, .annotator-frame blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame q:before, .annotator-frame q:after, .annotator-frame blockquote:before, .annotator-frame blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame a img {
  border: none;
}
/* line 116, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame article, .annotator-frame aside, .annotator-frame details, .annotator-frame figcaption, .annotator-frame figure, .annotator-frame footer, .annotator-frame header, .annotator-frame hgroup, .annotator-frame menu, .annotator-frame nav, .annotator-frame section, .annotator-frame summary {
  display: block;
}
/* line 9, ../../../../h/static/styles/reset.scss */
.annotator-frame * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../../../../h/static/styles/reset.scss */
.annotator-frame html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* line 17, ../../../../h/static/styles/reset.scss */
.annotator-frame body {
  min-height: 100%;
  font-size: 100%;
}
/* line 19, ../../../../h/static/styles/reset.scss */
.annotator-frame sub, .annotator-frame sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
/* line 25, ../../../../h/static/styles/reset.scss */
.annotator-frame sup {
  top: -.5em;
}
/* line 26, ../../../../h/static/styles/reset.scss */
.annotator-frame sub {
  bottom: -.25em;
}
/* line 28, ../../../../h/static/styles/reset.scss */
.annotator-frame pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* line 34, ../../../../h/static/styles/reset.scss */
.annotator-frame b, .annotator-frame strong {
  font-weight: bold;
}
/* line 35, ../../../../h/static/styles/reset.scss */
.annotator-frame abbr[title] {
  border-bottom: 1px dotted;
}
/* line 37, ../../../../h/static/styles/reset.scss */
.annotator-frame a img, .annotator-frame img {
  -ms-interpolation-mode: bicubic;
}
/* line 41, ../../../../h/static/styles/reset.scss */
.annotator-frame input, .annotator-frame textarea, .annotator-frame button, .annotator-frame select {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: normal;
  margin: 0;
}
/* line 50, ../../../../h/static/styles/reset.scss */
.annotator-frame button,
.annotator-frame html input[type="button"],
.annotator-frame input[type="reset"],
.annotator-frame input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 55, ../../../../h/static/styles/reset.scss */
.annotator-frame textarea {
  overflow: auto;
}
/* line 58, ../../../../h/static/styles/reset.scss */
.annotator-frame img::selection,
.annotator-frame img::-moz-selection {
  background: transparent;
}
/* line 63, ../../../../h/static/styles/reset.scss */
.annotator-frame markdown {
  display: block;
}
/* line 52, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame div, .annotator-frame span, .annotator-frame applet, .annotator-frame object, .annotator-frame iframe,
.annotator-frame h1, .annotator-frame h2, .annotator-frame h3, .annotator-frame h4, .annotator-frame h5, .annotator-frame h6, .annotator-frame p, .annotator-frame blockquote, .annotator-frame pre,
.annotator-frame a, .annotator-frame abbr, .annotator-frame acronym, .annotator-frame address, .annotator-frame big, .annotator-frame cite, .annotator-frame code,
.annotator-frame del, .annotator-frame dfn, .annotator-frame em, .annotator-frame img, .annotator-frame ins, .annotator-frame kbd, .annotator-frame q, .annotator-frame s, .annotator-frame samp,
.annotator-frame small, .annotator-frame strike, .annotator-frame strong, .annotator-frame sub, .annotator-frame sup, .annotator-frame tt, .annotator-frame var,
.annotator-frame b, .annotator-frame u, .annotator-frame i, .annotator-frame center,
.annotator-frame dl, .annotator-frame dt, .annotator-frame dd, .annotator-frame ol, .annotator-frame ul, .annotator-frame li,
.annotator-frame fieldset, .annotator-frame form, .annotator-frame label, .annotator-frame legend,
.annotator-frame table, .annotator-frame caption, .annotator-frame tbody, .annotator-frame tfoot, .annotator-frame thead, .annotator-frame tr, .annotator-frame th, .annotator-frame td,
.annotator-frame article, .annotator-frame aside, .annotator-frame canvas, .annotator-frame details, .annotator-frame embed,
.annotator-frame figure, .annotator-frame figcaption, .annotator-frame footer, .annotator-frame header, .annotator-frame hgroup,
.annotator-frame menu, .annotator-frame nav, .annotator-frame output, .annotator-frame ruby, .annotator-frame section, .annotator-frame summary,
.annotator-frame time, .annotator-frame mark, .annotator-frame audio, .annotator-frame video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 55, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 57, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame caption, .annotator-frame th, .annotator-frame td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 59, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame q, .annotator-frame blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame q:before, .annotator-frame q:after, .annotator-frame blockquote:before, .annotator-frame blockquote:after {
  content: "";
  content: none;
}
/* line 61, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.annotator-frame a img {
  border: none;
}
/* line 160, ../../../../h/static/styles/inject.scss */
.annotator-frame.annotator-collapsed {
  margin-left: 0;
}
/* line 164, ../../../../h/static/styles/inject.scss */
.annotator-frame * {
  background: none;
  font-size: 100%;
  text-indent: 0;
  height: initial;
  width: initial;
}
/* line 172, ../../../../h/static/styles/inject.scss */
.annotator-frame > iframe {
  height: 100%;
  width: 100%;
  z-index: 3;
  position: relative;
}
/* line 14, ../../../../h/static/styles/mixins/icons.scss */
.annotator-frame [class^="h-icon-"], .annotator-frame [class*=" h-icon-"] {
  font-family: 'h';
}

/* line 184, ../../../../h/static/styles/inject.scss */
.annotator-no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* line 190, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar {
  position: absolute;
  left: -33px;
  width: 37px;
  z-index: 2;
}
/* line 196, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar ul {
  height: 100%;
}
/* line 200, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar ul, .annotator-frame .annotator-toolbar li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

/* line 207, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar.annotator-hide {
  display: block;
  visibility: visible;
}
/* line 211, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar.annotator-hide li {
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.1, 0.55, 0);
  -moz-transition-timing-function: cubic-bezier(1, 0.1, 0.55, 0);
  -o-transition-timing-function: cubic-bezier(1, 0.1, 0.55, 0);
  transition-timing-function: cubic-bezier(1, 0.1, 0.55, 0);
  height: 0;
  left: 34px;
  margin-top: -2px;
}
/* line 217, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar.annotator-hide li:first-child, .annotator-frame .annotator-toolbar.annotator-hide li.annotator-pushed {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  left: 3px;
  height: 30px;
}
/* line 222, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar.annotator-hide li.annotator-pushed {
  margin-top: 5px;
}

/* line 228, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: left, height, margin-top;
  -moz-transition-property: left, height, margin-top;
  -o-transition-property: left, height, margin-top;
  transition-property: left, height, margin-top;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(0, 0.55, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0.55, 0.1, 1);
  -o-transition-timing-function: cubic-bezier(0, 0.55, 0.1, 1);
  transition-timing-function: cubic-bezier(0, 0.55, 0.1, 1);
  background: white;
  border: solid 1px lightgrey;
  border-radius: 4px;
  left: 0;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  height: 30px;
  width: 30px;
}
/* line 244, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li:first-child {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 4px 0 0 4px;
  border-right-style: none;
  margin-top: 0;
  width: 36px;
  z-index: 1;
}
/* line 253, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li.annotator-pushed {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: 3px;
  z-index: 1;
}
/* line 258, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li.annotator-pushed a {
  color: #bd5862;
}
/* line 263, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li a {
  background: white;
  font-size: 1.3em;
  line-height: 28px;
  position: absolute;
  left: 5px;
  color: rgba(200, 200, 200, 0.3);
  text-decoration: none;
  text-shadow: 0 0 2px #f9f9f9, 0 0 0 #777777;
}
/* line 276, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li a:focus, .annotator-frame .annotator-toolbar li a:hover {
  outline: 0;
  color: #bd1c2b;
}
/* line 282, ../../../../h/static/styles/inject.scss */
.annotator-frame .annotator-toolbar li .annotator-toolbar-toggle:hover, .annotator-frame .annotator-toolbar li .annotator-toolbar-toggle:focus {
  color: rgba(249, 249, 249, 0.1);
}

/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/
@media screen and (min-width: 15em) {
  /* line 295, ../../../../h/static/styles/inject.scss */
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  /* line 308, ../../../../h/static/styles/inject.scss */
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) {
  /* line 321, ../../../../h/static/styles/inject.scss */
  .annotator-frame {
    -webkit-transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    -o-transition: margin-left 0.25s;
    transition: margin-left 0.25s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.2, 0.8);
    -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.2, 0.8);
    -o-transition-timing-function: cubic-bezier(0.55, 0, 0.2, 0.8);
    transition-timing-function: cubic-bezier(0.55, 0, 0.2, 0.8);
    width: 428px;
    margin-left: -428px;
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/
