<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>via.hypothes.is</title>
  <style>
    @import url("//d2v52k3cl9vedd.cloudfront.net/basscss/4.1.7/basscss.min.css");
    body { margin-top: 5%; font-family: "myriad-pro", sans-serif; }
    h1 { color: #939393; }
  </style>
</head>
<body>
  <center>
  <img width="142" height="142" src="https://hypothes.is/assets/images/logo.png" />
  <form class="h3" onsubmit="url = document.getElementById('search').value; if (url != '') { document.location.href = '/' + url; } return false;">
    <input id="search" class="block sm-col-4 field-light" name="search" type="text" maxsize="30" placeholder="Paste a link to create or view annotations"/>
    <button type="submit" class="button-blue">Go!</button>
  </form>
  </center>
</body>
</html>
